In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('./data/팡팡팡_20221222_result.csv', encoding='utf-8-sig')

In [4]:
data.head()

,reviews,sentiment,price,drink,dessert,service,customers,interior,view,parking,trash
0,빵 종류도 많고 맛있어요,1,0,0,1,0,0,0,0,0,0
1,매장이 엄청 넓고,1,0,0,0,0,0,1,0,0,0
2,빵 종류도 진짜 많아요,1,0,0,1,0,0,0,0,0,0
3,소금 빵 진짜 맛있어요.,1,0,0,1,0,0,0,0,0,0
4,강추!!!,1,0,0,0,0,0,0,0,0,1

In [9]:
# 전체 긍부정
total_pn = len(data.loc[data['sentiment']==1])/len(data)
total_pn

0.9141716566866267

In [31]:
# 요소별 긍부정
arr = ["price", "drink", "dessert", "service", "customers", "interior", "view", "parking", "trash"]
arr_pn = []
for i in arr:
    pn = len(data.loc[(data[f"{i}"]==1) & (data['sentiment']==1)])/len(data.loc[data[f"{i}"]==1])
    arr_pn.append(pn)
print(arr_pn)

[0.5238095238095238, 0.925, 0.9142857142857143, 0.65, 0.3333333333333333, 0.9716312056737588, 1.0, 0.8333333333333334, 0.9710144927536232]

In [37]:
# 요소별 랭킹 (순위가 높을수록 긍정이 높음)
sorted_arr = sorted(arr_pn, reverse=True)

rk =[]
for i in arr_pn:
    rk.append(sorted_arr.index(i)+1)
print(rk)

[8, 4, 5, 7, 9, 2, 1, 6, 3]

In [41]:
row1 = ["팡팡팡"]
row1.append(total_pn)
for i in range(9):
    row1.append(rk[i])
    row1.append(arr_pn[i])
print(row1)

['팡팡팡', 0.9141716566866267, 8, 0.5238095238095238, 4, 0.925, 5, 0.9142857142857143, 7, 0.65, 9, 0.3333333333333333, 2, 0.9716312056737588, 1, 1.0, 6, 0.8333333333333334, 3, 0.9710144927536232]

In [39]:
df = pd.DataFrame({"cafe_name":[], "total_pn":[], 
                   "price_rk":[], "price_pn":[], 
                   "drink_rk":[], "drink_pn":[],
                   "dessert_rk":[], "dessert_pn":[],
                   "service_rk":[], "service_pn":[],
                   "customers_rk":[], "customers_pn":[],
                   "interior_rk":[], "interior_pn":[],
                   "view_rk":[], "view_pn":[],
                   "parking":[], "parking_pn":[],
                   "trash_rk":[], "trash_pn":[],
                   })
df

Empty DataFrame
Columns: [cafe_name, total_pn, price_rk, price_pn, drink_rk, drink_pn, dessert_rk, dessert_pn, service_rk, service_pn, customers_rk, customers_pn, interior_rk, interior_pn, view_rk, view_pn, parking, parking_pn, trash_rk, trash_pn]
Index: []

In [42]:
df.loc[1] = row1
df

,cafe_name,total_pn,price_rk,price_pn,drink_rk,drink_pn,dessert_rk,dessert_pn,service_rk,service_pn,customers_rk,customers_pn,interior_rk,interior_pn,view_rk,view_pn,parking,parking_pn,trash_rk,trash_pn
1,팡팡팡,0.914172,8,0.52381,4,0.925,5,0.914286,7,0.65,9,0.333333,2,0.971631,1,1.0,6,0.833333,3,0.971014