In [41]:
import pandas as pd

In [42]:
data = pd.read_csv('./data/팡팡팡_20221222_result.csv', encoding='utf-8-sig')

In [43]:
data.head()

,reviews,sentiment,price,drink,dessert,service,customers,interior,view,parking,trash
0,빵 종류도 많고 맛있어요,1,0,0,1,0,0,0,0,0,0
1,매장이 엄청 넓고,1,0,0,0,0,0,1,0,0,0
2,빵 종류도 진짜 많아요,1,0,0,1,0,0,0,0,0,0
3,소금 빵 진짜 맛있어요.,1,0,0,1,0,0,0,0,0,0
4,강추!!!,1,0,0,0,0,0,0,0,0,1

In [44]:
# 전체 긍부정
total_pn = len(data.loc[data['sentiment']==1])/len(data)
total_pn

0.9141716566866267

In [49]:
# 요소별 긍부정, 개수
arr = ["price", "drink", "dessert", "service", "customers", "interior", "view", "parking", "trash"]
arr_pn = [] # 긍부정 비율
count = [] # 카테고리별 개수
p_count = [] # 긍정 개수
for i in arr:
    pn = len(data.loc[(data[f"{i}"]==1) & (data['sentiment']==1)])/len(data.loc[data[f"{i}"]==1])
    arr_pn.append(pn)
    count.append(len(data.loc[data[f"{i}"]==1]))
    p_count.append(len(data.loc[(data[f"{i}"]==1) & (data['sentiment']==1)]))
print(arr_pn)

[0.5238095238095238, 0.925, 0.9142857142857143, 0.65, 0.3333333333333333, 0.9716312056737588, 1.0, 0.8333333333333334, 0.9710144927536232]

In [46]:
# 요소별 랭킹 (순위가 높을수록 긍정이 높음)
sorted_arr = sorted(arr_pn, reverse=True)

rk =[]
for i in arr_pn:
    rk.append(sorted_arr.index(i)+1)
print(rk)

[8, 4, 5, 7, 9, 2, 1, 6, 3]

In [47]:
df_total = pd.DataFrame({"cafe_name":[], "total_pn":[], "total_count":[]})
row3 = ["팡팡팡", total_pn, len(data)] 
df_total.loc[1] = row3
df_total

  cafe_name  total_pn  total_count
1       팡팡팡  0.914172          501

In [39]:
df_total.to_csv("df_total.csv",index=False)

In [50]:
df_category = pd.DataFrame({"category":[], "rank":[], "sentiment":[], "cnt":[], "positive_cnt":[]})
category = ["price", "drink", "dessert", "service", "customer", "interior", "view", "parking"]

for i in range(8):
    row = []
    row.append(category[i])
    row.append(rk[i]) 
    row.append(arr_pn[i])
    row.append(count[i])
    row.append(p_count[i])
    df_category.loc[i] = row

df_category

   category  rank  sentiment  cnt  positive_cnt
0     price     8   0.523810   21            11
1     drink     4   0.925000   40            37
2   dessert     5   0.914286  140           128
3   service     7   0.650000   20            13
4  customer     9   0.333333    3             1
5  interior     2   0.971631  141           137
6      view     1   1.000000    3             3
7   parking     6   0.833333    6             5

In [ ]:
df_category.to_csv("df_category.csv",index=False)